<html>
    <head>
        <title>Blue Candy</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Blue Candy:</h1>

        {% if candies is not empty %}
            <p>Here is all of your candy:</p>
            <ul>
                {% for candy in candies %}
                    <li>{{ candy.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p><a href='/'>Add more candy</a></p>
        </div>
    </body>
</html>
