<html>
    <head>
        <title>Found your candy</title>
    </head>
    <body>
        <p>The candy you searched for: {{ candies.getDescription }}</p>
        <p><a href='/'>Home</a></p>
    </body>
</html>
